:root {
    --stitch-withgoogle-com-inter-bold-font-weight: 700;
    --stitch-withgoogle-com-inter-bold-font-size: 14px;
    --stitch-withgoogle-com-inter-bold-letter-spacing: 0px;
    --stitch-withgoogle-com-inter-bold-line-height: 21px;
    --stitch-withgoogle-com-inter-bold-font-style: normal;
    --stitch-withgoogle-com-inter-medium-font-weight: 500;
    --stitch-withgoogle-com-inter-medium-font-size: 12px;
    --stitch-withgoogle-com-inter-medium-letter-spacing: 0px;
    --stitch-withgoogle-com-inter-medium-line-height: 16px;
    --stitch-withgoogle-com-inter-medium-font-style: normal;
    --stitch-withgoogle-com-inter-regular-font-weight: 400;
    --stitch-withgoogle-com-inter-regular-font-size: 14px;
    --stitch-withgoogle-com-inter-regular-letter-spacing: 0px;
    --stitch-withgoogle-com-inter-regular-line-height: 22.399999618530273px;
    --stitch-withgoogle-com-inter-regular-font-style: normal;
    --stitch-withgoogle-com-inter-semi-bold-font-weight: 600;
    --stitch-withgoogle-com-inter-semi-bold-font-size: 13.699999809265137px;
    --stitch-withgoogle-com-inter-semi-bold-letter-spacing: 0px;
    --stitch-withgoogle-com-inter-semi-bold-line-height: 21px;
    --stitch-withgoogle-com-inter-semi-bold-font-style: normal;
    --stitch-withgoogle-com-semantic-heading-1-font-weight: 700;
    --stitch-withgoogle-com-semantic-heading-1-font-size: 1.600000023841858px;
    --stitch-withgoogle-com-semantic-heading-1-letter-spacing: 0px;
    --stitch-withgoogle-com-semantic-heading-1-line-height: 1.9242216348648071px;
    --stitch-withgoogle-com-semantic-heading-1-font-style: normal;
    --stitch-withgoogle-com-semantic-heading-2-font-weight: 700;
    --stitch-withgoogle-com-semantic-heading-2-font-size: 1.2999999523162842px;
    --stitch-withgoogle-com-semantic-heading-2-letter-spacing: 0px;
    --stitch-withgoogle-com-semantic-heading-2-line-height: 1.7104191780090332px;
    --stitch-withgoogle-com-semantic-heading-2-font-style: normal;
    --stitch-withgoogle-com-semantic-heading-3-font-weight: 700;
    --stitch-withgoogle-com-semantic-heading-3-font-size: 1.100000023841858px;
    --stitch-withgoogle-com-semantic-heading-3-letter-spacing: 0px;
    --stitch-withgoogle-com-semantic-heading-3-line-height: 1.4966168403625488px;
    --stitch-withgoogle-com-semantic-heading-3-font-style: normal;
    --stitch-withgoogle-com-semantic-item-font-weight: 400;
    --stitch-withgoogle-com-semantic-item-font-size: 14px;
    --stitch-withgoogle-com-semantic-item-letter-spacing: 0px;
    --stitch-withgoogle-com-semantic-item-line-height: 22.399999618530273px;
    --stitch-withgoogle-com-semantic-item-font-style: normal;
    --stitch-withgoogle-com-semantic-strong-font-weight: 700;
    --stitch-withgoogle-com-semantic-strong-font-size: 14px;
    --stitch-withgoogle-com-semantic-strong-letter-spacing: 0px;
    --stitch-withgoogle-com-semantic-strong-line-height: 22.399999618530273px;
    --stitch-withgoogle-com-semantic-strong-font-style: normal;
    --stitch-withgoogle-com-semantic-button-font-weight: 500;
    --stitch-withgoogle-com-semantic-button-font-size: 14px;
    --stitch-withgoogle-com-semantic-button-letter-spacing: 0px;
    --stitch-withgoogle-com-semantic-button-line-height: 21px;
    --stitch-withgoogle-com-semantic-button-font-style: normal;
}